<form action="/" method="post">

  <div class="input-group mb-3">
    <span class="input-group-text">Title</span>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
      aria-describedby="button-addon1" name="title" required>
  </div>

  <div class="input-group">
    <span class="input-group-text">Body</span>
    <textarea class="form-control" aria-label="With textarea" rows="20" name="content"></textarea>
  </div>
  <div class="space-20px"></div>

  <div class="input-group mb-3">
    <span class="input-group-text">Author</span>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
      aria-describedby="button-addon1" name="author" required>
  </div>

  <div class="space-20px"></div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-dark" type="submit">Publish</button>
  </div>
</form>