

img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', serif;
}

#main-blog {
    height: 40vh;
    background-color: antiquewhite;
}

#left {
    background-color: brown;
    height: 40vh;
}

.space-20px {
    height: 20px;
}

.space-10px {
    height: 10px;
}


#sidebar {
    width: 100%;
    
    background-color: rgb(248, 249, 250);
    padding: 2rem;
}

#sidebar {
    text-align: left;
    
}

.container-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

article {
    max-width: 800px;
    padding: 0 40px;
}


a {
    color: #000000;
    text-decoration:none;
  }
  a:visited {
    color: #000000;
  }
  a:hover {
    color: #888888;
  }
  a:active {
    color: rgb(104, 104, 216);
  }


  #single-post-container {
    max-width: 720px;
    margin: 5% auto;
  }